input[type="submit"]{
  margin-top: 20px;
}
h1{
  margin-bottom: 20px;
}

.new-category, .edit-category{
  margin-top: 15px;
}

.index-categories{
  margin-top: 15px;
  table{
    border-radius: 10px 10px 0px 0;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 5px 10px 18px #888888;
    td, th{
      padding: 20px !important;
    }
    thead{
      background: #333;
      color: #fff;
    }
    tbody{
      tr:nth-child(even){
        background: #e2e2e2;
      }
      a{
        margin-right: 10px;
      }
    }
  }
}
ul.pagination {
  margin-left: 15px;
  margin-top: 20px;
}
