.fa-2x {
  font-size: 2em;
  color: #f7f6f5;
}

div#theater_filter input {
  border: 1px solid !important;
  border-radius: 5px !important;
}

div#dataTable_wrapper {
  width: 80%;
  margin: 0 auto;
}

#theater-t {
  background-color: #3058c9;
  color: #ffff;
}

label#checkbox {
  color: white;
}
