@import "bootstrap-sprockets";
@import "bootstrap";

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: black
}
.login-page .form input::placeholder {
  color: #333;
}
.login-page .form .btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-page .form .btn:hover,.form .btn:active,.form .btn:focus {
  background: #43A047;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.content-1 {
  width: 39%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px !important;
}

.change_profile {
  text-align: center;
  font-size: 18px;
}

.container.details {
  padding-bottom: 65px;
}

.form-group.col-md-12 {
  color: black;
}

.container#form-group {
  max-width: 150%;
}

.login-page .remember-me{
  display: flex;
}

.login-page .remember-me input[type="checkbox"] {
  width: 39px !important;
  margin-top: 12px !important;
}

.fa.fa-search {
  position: absolute;
  top: 16%;
  z-index: 1;
  color: #909ba5;
  right: 88%;
  font-size: 21px;
}

label#remember {
  color: black;
}

.color-555 {
  color: #555;
}

#comment {
  background-color: rgb(232, 232, 239);
  width: 100% !important;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 114px;
  color: black;
}

.submit {
  background-color: #F44336;
}

.container1{
  margin-left: 2cm;
  margin-bottom: 2cm
}
